/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:after,
*::before {
    pointer-events: none;
}

:root {
    --orange: #F48164;
    --purple: #6879BA;
    --toshin: #6879BA;
    --jonan: #579ED7;
    --josai: #EEB048;
    --joto: #7ABE77;
    --tama: #ED7186;
    --beige: #F4F4ED;

}

html {
    font-size: clamp(14px, 2.5vw, 15px);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    color: #313131;
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.en {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.s_title {
    letter-spacing: .1em;
}

.heading3 {
    font-size: clamp(20px, 4vw, 28px);
    line-height: 1.8;
}

.img-box img {
    max-width: 100%;
    height: auto;
}

picture,
img {
    vertical-align: top;
}

.inner {
    width: 1200px;
    max-width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.parent {
    position: relative;
}

.mt-8 {
    margin-top: .5rem;
}

.mt-16 {
    margin-top: 1rem;
}

.mt-20 {
    margin-top: 1rem;
}

.mt-24 {
    margin-top: 1.33rem;
}

.mt-32 {
    margin-top: 1.8rem;
}

.mt-36 {
    margin-top: 2.25rem
}

.mt-40 {
    margin-top: 1.75rem;
}

.mt-64 {
    margin-top: 3.2rem;
}

.mt-80 {
    margin-top: 3.6rem
}

.mt-100 {
    margin-top: 3.6rem;
}

.mt-120 {
    margin-top: 4.5rem;
}

@media (min-width: 640px) {
    .mt-20 {
        margin-top: 1.25rem;
    }

    .mt-24 {
        margin-top: 1.5rem;
    }

    .mt-40 {
        margin-top: 2.5rem;
    }

    .mt-64 {
        margin-top: 4rem;
    }

    .mt-80 {
        margin-top: 5rem
    }

    .mt-100 {
        margin-top: 6.25rem;
    }

    .mt-120 {
        margin-top: 7.5rem;
    }
}

.lh-18 {
    line-height: 1.8;
}

.lh-20 {
    line-height: 2;
}

.lh-26 {
    line-height: 2.6;
}

.ls-5 {
    letter-spacing: 0.05em;
}

.ls-10 {
    letter-spacing: 0.1em;
}

.ls-15 {
    letter-spacing: 0.15em;
}

.color-toshin {
    color: var(--toshin);
}

.color-jonan {
    color: var(--jonan);
}

.color-josai {
    color: var(--josai);
}

.color-joto {
    color: var(--joto);
}

.color-tama {
    color: var(--tama);
}

.column2 {
    display: flex;
}

.column2 .text-container {
    padding: 0 1.8rem;
}

.column2 .text-container>* {
    position: relative;
    z-index: 2;
}

.text_wavy-line {
    display: inline-block;
    color: var(--purple);
    padding-bottom: .6em;
    background: url(images/title_deco-wave-purple.svg) no-repeat center bottom / contain;
}

.text_marker-yellow {
    background: #F6EC91;
}

.cv_button {
    background: var(--orange);
    color: #fff;
    font-size: clamp(16px, 2vw, 1.33rem);
    border-radius: 999px;
    padding: 1.4rem 2rem 1.5rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    gap: .6em;
    line-height: 1;
    margin: 0 auto;
    transition: .3s;
    position: relative;
}

.cv_button::after {
    content: '';
    background: #fff;
    width: .6em;
    height: .8em;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.13em;
    margin: auto 0;
}

.cv_button:hover {
    transition: .3s;
    filter: brightness(.9);
}

.cv_button-label {
    display: inline-block;
    background: #fff;
    color: var(--orange);
    padding: .4rem;
    border-radius: 4px;
    font-size: clamp(1rem, 2vw, 18px);
    letter-spacing: .1em;
}

.label-area {
    display: inline-block;
    line-height: 1;
    font-size: clamp(1.15rem, 2vw, 1.35rem);
    padding: 1rem;
    border: 2px solid currentColor;
    border-radius: 0.6rem;
    letter-spacing: .05em;
    font-weight: bold;
    background: #fff;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .cv_button {
        padding: .9rem;
        width: 50%;
    }
}

@media (max-width: 1023px) {
    .column2 {
        flex-direction: column;
        gap: 3rem;
    }

    .column2.img-right .img-container {
        padding-left: 1.8rem;
    }

    .column2.img-left .img-container {
        padding-right: 1.8rem;
    }
}

@media (max-width: 639px) {
    .column2 {
        gap: 2rem;
    }

    .sp-invisible {
        display: none;
    }
}

@media (min-width: 640px) {
    .sp-visible {
        display: none;
    }

    .cv_button {
        gap: .9rem;
    }

    .cv_button-label {
        padding: .4rem .6rem .5rem;
    }
}

@media (min-width: 768px) {
    .tb-visible {
        display: none;
    }
}

@media (min-width: 1024px) {
    .pc-visible {
        display: none;
    }

    .column2 {
        align-items: center;
        justify-content: flex-end;
    }

    .column2 .img-container {
        width: 50%
    }

    .column2 .text-container {
        width: 50%
    }

    .column2.img-right .text-container {
        margin-left: calc((100vw - 1200px) / 2);
        padding: 0 clamp(5%, 7vw, 100px);
    }

    .column2.img-left .text-container {
        margin-right: calc((100vw - 1200px) / 2);
        padding: 0 clamp(5%, 7vw, 100px);
    }

    .flex-reverse {
        flex-direction: row-reverse;
    }

    .column3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}

/* common-end */

/* fv */
.fv .button-container {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 1.8rem;
    letter-spacing: .05em;
}

@media (min-width: 640px) {
    .fv .button-container {
        top: 65%;
    }
}

/* menu */
div.menu {
    background: var(--beige);
    padding: 3rem 0;
}

.menu_item-title-wrap {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.menu_item-title {
    font-size: 1.2rem;
}

.menu_item-title-label {
    display: inline-block;
    background: url(images/label-ribon.svg) no-repeat center center / 100% 100%;
    color: #fff;
    padding: .2em .8em .3em;
    font-size: .8rem;
}

.menu nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.button-area {
    display: inline-block;
    text-align: center;
    position: relative;
    padding: .9rem 2.4rem 1rem 1rem;
    background: #fff;
    border: 2px solid currentColor;
    line-height: 1;
    letter-spacing: .05em;
}

.button-area:after {
    content: '';
    height: calc(.8rem / 2);
    width: .8rem;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background: currentColor;
    position: absolute;
    right: .8rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.button-area:hover {
    transition: .3s;
    filter: brightness(.9);
}

.menu .button-area {
    border-radius: 0.3rem;
}

@media (min-width: 640px) {
    .menu nav ul {
        gap: 0.9rem;
    }

    .button-area {
        min-width: 140px;
        max-width: 400px;
    }

    .menu .button-area {
        font-size: 16px;
    }
}

/* map */
section.map {
    padding: 5rem .9rem;
    overflow: hidden;
}

.map .s_title-en {
    font-size: clamp(1rem, 3vw, 30px);
    text-align: center;
    color: var(--purple)
}

.map .s_title,
.area .s_title,
.holiday .s_title {
    text-align: center;
    font-size: clamp(1.66rem, 5vw, 35px);
}

.map-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.map .button-area {
    border-radius: 999px;
    font-size: clamp(1rem, 2vw, 18px);
    text-align: center;
    white-space: nowrap;
    padding: 1rem 2rem 1rem 1rem;
}

/*
.map .button-area.color-toshin {
    bottom: 5%;
    left: 75%;x
}

.map .button-area.color-jonan {
    top: 37.5%;
    left: 60%;
}

.map .button-area.color-josai {
    top: 65%;
    left: 40%;
}

.map .button-area.color-joto {
    top: 20%;
    left: 70%;
}

.map .button-area.color-tama {
    top: 60%;
    left: 20%;
}
*/
@media (max-width: 639px) {
    section.map {
        padding: 3.6rem .9rem;
    }

    .map .button-container {
        margin-top: 1.8rem;
        padding: 0 .9rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
    }

    .map .button-area {
        padding: .8rem 1.8rem .8rem 1rem;
        min-width: 30%;
    }

    .map .button-area:after {
        height: calc(.6rem / 2);
        width: .6rem;
    }
}

@media (min-width: 640px) {
    .map .button-area {
        position: absolute;
        z-index: 2;
    }

    .map .button-area.color-toshin {
        top: 50%;
        right: 9%;
    }

    .map .button-area.color-jonan {
        bottom: 30%;
        right: 20%;
    }

    .map .button-area.color-josai {
        top: 45%;
        left: 50.5%;
    }

    .map .button-area.color-joto {
        top: 30%;
        right: 2.5%;
    }

    .map .button-area.color-tama {
        top: 35%;
        left: 25%;
    }
}

@media (min-width: 1024px) {

    .map-container::before {
        left: -12.5vw;
        top: 10%;
    }

    .map-container::after {
        right: -15vw;
        bottom: 20%;
    }
}




/* area */

section.area {
    background-color: var(--beige);
    background-image: url(images/area_separator-top.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    padding: 5rem 0 4rem;
}

section.area::before {
    content: '';
    display: block;
    width: 10vw;
    min-width: 80px;
    height: 10vw;
    background: url(images/deco3.svg) no-repeat top right / contain;
    position: absolute;
    right: 10%;
    top: 4rem;
}

.area .s_title-en {
    font-size: clamp(1rem, 3vw, 25px);
    text-align: center;
    color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.area .s_title-en::before {
    content: '';
    height: 4.5rem;
    width: 100%;
    background: url(images/area_title-icon.svg) no-repeat center center / contain;
}


.area_item .img-right:after {
    content: '';
    display: block;
    bottom: -10%;
    left: 5%;
    width: 20%;
    height: 20%;
    background: url(images/deco7.svg) no-repeat top center / contain;
    position: absolute;
}

.area_item .img-left .img-container::before {
    content: '';
    display: block;
    top: -10%;
    left: 20%;
    width: 20%;
    height: 20%;
    background: url(images/deco4.svg) no-repeat top center / contain;
    position: absolute;
}

.area_item .img-right .img-container::before {
    content: '';
    display: block;
    top: -5%;
    right: 20%;
    width: 20%;
    height: 20%;
    background: url(images/deco8.svg) no-repeat top center / contain;
    position: absolute;
}

.area_item .img-left .img-container::after {
    content: '';
    display: block;
    bottom: -5%;
    left: 5%;
    width: 25%;
    height: 25%;
    background: url(images/deco5.svg) no-repeat top center / contain;
    position: absolute;
    transform-origin: center bottom;
    animation: kakukaku 2s infinite;
}

.area_item .img-right .img-container::after {
    content: '';
    display: block;
    bottom: 5%;
    right: 5%;
    width: 25%;
    height: 25%;
    background: url(images/deco17.svg) no-repeat top center / contain;
    position: absolute;
    transform-origin: center bottom;
    animation: kakukaku 2s infinite;
}

.area_jonan.area_item .img-right .img-container::after {
    display: none;
}


.area_item .img-left .img-container .img-box::after {
    content: '';
    display: block;
    bottom: -5%;
    right: -5%;
    width: 20%;
    height: 20%;
    background: url(images/deco6.svg) no-repeat top center / contain;
    position: absolute;
}

.area_item .img-right .img-container .img-box:first-child::after {
    content: '';
    display: block;
    top: 35%;
    left: -5%;
    width: 20%;
    height: 20%;
    background: url(images/deco9.png) no-repeat top center / contain;
    position: absolute;
}

.area_item .img-left .text-container::before {
    content: '';
    display: block;
    width: 50vw;
    height: 50vw;
    position: absolute;
    bottom: -15%;
    right: -5%;
    animation: 30s linear infinite rotation;
}

.area_item .img-right .text-container::before {
    content: '';
    display: block;
    width: 50vw;
    height: 50vw;
    position: absolute;
    bottom: -15%;
    left: -5%;
    animation: 30s linear infinite rotation;

}

@media (min-width: 1024px) and (max-width: 1439px) {
    .area_toshin .heading3 br {
        display: none;
    }
}

@media (min-width: 640px) {
    section.area {
        padding: 8rem 0 6rem;
    }

    .area_item .img-left .text-container::before {
        width: 30vw;
        height: 30vw;
        bottom: -50%;
        right: -30%;
    }

    .area_item .img-right .text-container::before {
        width: 30vw;
        height: 30vw;
        bottom: -50%;
        left: -30%;
    }
}

@media (min-width: 1024px) {
    .area_item .img-left:after {
        content: '';
        display: block;
        bottom: -10%;
        right: 5%;
        width: 20%;
        height: 20%;
        background: url(images/deco7.svg) no-repeat top center / contain;
        position: absolute;
    }
}

.area_toshin .text-container::before {
    background: url(images/area_circle-toshin.svg) no-repeat center center / contain;
}

.area_jonan .text-container::before {
    background: url(images/area_circle-jonan.svg) no-repeat center center / contain;
}

.area_josai .text-container::before {
    background: url(images/area_circle-josai.svg) no-repeat center center / contain;
}

.area_joto .text-container::before {
    background: url(images/area_circle-joto.svg) no-repeat center center / contain;
}

.area_tama .text-container::before {
    background: url(images/area_circle-tama.svg) no-repeat center center / contain;
}

.job_container {
    background: #fff;
    padding: clamp(2.7rem, 4vw, 64px) clamp(1rem, 5vw, 64px);
    border-radius: 1.25rem;
}

.job_title-en {
    text-align: center;
    line-height: 1;
    letter-spacing: .1em;
    font-size: clamp(1.33rem, 3vw, 30px)
}

.job_title {
    text-align: center;
    line-height: 1;
}

.job .splide__arrow {
    background: var(--purple);
    top: 45%;
    width: 3rem;
    height: 3rem;
}

.job .splide__arrow:disabled {
    opacity: 0;
}

.job .splide__arrow:not(:disabled) {
    opacity: 1;
}

.job .splide__arrow svg {
    fill: #fff;
}

.job .splide__pagination {
    position: static;
    margin-top: 1rem;
}

.job .splide__pagination__page.is-active {
    background: var(--purple);
}

.job_item-balloon {
    background: url(images/job_heading-balloon.svg) no-repeat center top / 100% 100%;
    padding: .6rem 1.4rem 2rem;
    color: #579ED7;
    width: auto;
    min-height: 5.6rem;
}

.area_toshin .job_item-balloon {
    min-height: 7.2rem;
}

.job_item-balloon p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.area_toshin .job_item-balloon p {
    -webkit-line-clamp: 3;
    height: 4rem;
    display: grid;
    place-items: center;
    line-height: 1.3;
}

.job_item-main {
    background: #FFFEF6;
    border: 2px solid var(--purple);
    border-radius: .6rem;
    padding: 1.5rem;
    margin-top: 4px;
}

.job_label-type {
    display: inline-block;
    line-height: 1;
    color: var(--purple);
    font-size: .8rem;
    padding: .4em .9em;
    background: #fff;
    border: 1px solid currentColor;
    border-radius: 3px;
}

.job_item-title {
    color: var(--purple);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.job_item-list {
    min-height: 134px;
}

.area_toshin .job_container {
    overflow: hidden;
}

.area_jonan .img-container .illust-woman {
    position: absolute;
    bottom: 0;
    left: .9rem;
    transform: translate(-50%, 40%);
    width: 20%;
    z-index: 10;
}

.area_joto .img-container .illust-family {
    position: absolute;
    bottom: 0;
    left: -1.8rem;
    transform: translatey(30%);
    width: 40%;
    z-index: 10;
}

.job_item-list li {
    padding-left: 1em;
    position: relative;
    line-height: 1.4;
    font-size: .94rem;
}

.job_item-list li::before {
    content: '';
    height: .4em;
    width: .4em;
    border-radius: 1rem;
    background: var(--purple);
    position: absolute;
    top: .5em;
    left: 0;
}

.job_item-list li:not(:first-child) {
    margin-top: .5rem;
}

.job_item-button_cv {
    display: inline-block;
    background: var(--orange);
    color: #fff;
    border-radius: 999px;
    padding: 1.2rem 1.5rem 1.2rem .9rem;
    font-size: clamp(14px, 1.2vw, 1rem);
    width: 100%;
    text-align: center;
    line-height: 1;
    position: relative;
    transition: .3s;
}

.job_item-button_cv::after {
    content: '';
    background: #fff;
    width: .5em;
    height: .75em;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1rem;
    margin: auto 0;
}

.job_item-button_cv:hover {
    transition: .3s;
    filter: brightness(.9);
}

@media (max-width: 639px) {
    .job_item-balloon {
        font-size: .88rem;
        min-height: 4rem;
        margin: 0 auto -2.25rem;
        position: relative;
        z-index: 2;
        max-width: calc(100% - 3rem);
    }

    .job_item-title {
        font-size: 16px;
        line-height: 1.3;
    }

    .job_item-main .mt-16 {
        margin-top: .6rem;
    }

    .area_toshin .job_item-title,
    .area_josai .job_item-title {
        min-height: 62px;
    }

    .area_toshin .job_item-list,
    .area_josai .job_item-list,
    .area_tama .job_item-list {
        min-height: 115px;
    }

    .area_jonan .job_item-list,
    .area_joto .job_item-list {
        min-height: 98px;
    }

    .job_item-list li {
        font-size: 12px;
    }
}

@media (max-width: 1023px) {
    .job_title-container {
        padding-right: clamp(1rem, 5vw, 64px);
    }

    .job.inner {
        padding-right: 0;
    }

    .job_container {
        padding-right: 0;
        border-radius: 1.5rem 0 0 1.5rem;
    }

    .job .splide__arrow--prev {
        left: -1.5rem;
    }

    .area_jonan.area_item .img-right:after {
        right: 5%;
        left: auto;
        bottom: -15%;
        width: 15%;
    }

    .area_jonan .img-container .illust-woman {
        left: 15%;
    }

    .area_joto .img-container .illust-family {
        left: 15%;
    }
}

@media (min-width: 640px) {

    .area_toshin .job_item-title,
    .area_josai .job_item-title {
        min-height: 75px;
    }
}

@media (min-width: 1024px) {
    .job_slider .splide__list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
    }
}

/* holiday */
section.holiday {
    background: url(images/holiday_bg.webp) no-repeat center center / cover;
    padding: 4rem 0 8rem;
    overflow: hidden;
}

section.holiday::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: url(images/pickup_separator-top.svg) no-repeat center bottom / contain;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.holiday_title-container {
    background: url(images/text_HOLIDAY.svg) no-repeat center center / contain;
    padding: 3rem 1.8rem;
}

.holiday_title-container::before {
    content: '';
    width: 200px;
    max-width: 20vw;
    height: 20vw;
    background: url(images/deco1.svg) no-repeat top center / contain;
    position: absolute;
    left: 0;
    top: -1rem;
    transform-origin: center center;
    animation: kakukaku 2s infinite;
}

.holiday .s_title {
    color: #579ED7;
}

.holiday_text-wrap>* {
    text-align: center;
    font-weight: 500;
}

.holiday_text-wrap::before {
    content: '';
    position: absolute;
    bottom: -20%;
    background: url(images/skytree.png) no-repeat left bottom / contain;
    width: 40px;
    max-width: 20%;
    height: 40%;
}

.holiday_text-wrap::after {
    content: '';
    position: absolute;
    right: 5%;
    bottom: -20vw;
    background: url(images/deco2.svg) no-repeat top center / contain;
    width: 195px;
    max-width: 25vw;
    height: 15vw;
}

.holiday_text-container {
    font-size: 1.06rem;
}

.holiday_img1 {
    width: 170px;
    max-width: 25vw;
    height: auto;
}

.holiday_img2 {
    width: 170px;
    max-width: 25vw;
    height: auto;
}

.holiday_img2.fade-up {
    transition: opacity 2.1s ease, transform 2.2s ease;
}

@media (max-width: 1023px) {
    .holiday_img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        margin-bottom: 3rem;
    }

    .holiday_img2 {
        padding-top: 3rem;
    }

    .holiday_text-container {
        font-size: 1rem;
    }
}

@media (min-width: 640px) {
    section.holiday {
        padding: 9rem 0 12rem;
    }

    .holiday_text-wrap::after {
        right: -5%;
        bottom: -20%;
    }
}

@media (min-width: 1024px) {
    .holiday_text-wrap {
        margin-top: 1.75rem;
    }

    .holiday_img1 {
        position: absolute;
        top: 15%;
        left: 0;
        max-width: 12vw;
        height: auto;
    }

    .holiday_img2 {
        position: absolute;
        top: -10%;
        right: 0;
        max-width: 12vw;
        height: auto;
    }

    .holiday_text-wrap::before {
        bottom: -45%;
        width: 120px;
        height: 70%;
        left: 15%;
    }
}

/* pickup */
section.pickup {
    padding: 4rem 0 4rem;
}

.pickup .s_title {
    font-size: clamp(4rem, 20vw, 200px);
    color: var(--beige);
    margin-bottom: 1rem;
}

.pickup .column2 .text-container::before {
    content: '';
    height: 4rem;
    width: 4rem;
    background: url(images/deco11.svg) no-repeat center center / contain;
    position: absolute;
    right: 2rem;
    top: 0;
}

.pickup .column2 .text-container::after {
    content: '';
    height: 4rem;
    width: 4rem;
    background: url(images/deco11.svg) no-repeat center center / contain;
    position: absolute;
    left: 0;
    bottom: -15%;
}

.pickup_toshin .img-container::before {
    content: '';
    display: block;
    position: absolute;
    height: 25%;
    width: 25%;
    top: -5%;
    right: 5%;
    background: url(images/deco8.svg) no-repeat center center / contain;
}

.pickup_toshin .img-container::after {
    content: '';
    display: block;
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -5%;
    left: 5%;
    background: url(images/deco12.png) no-repeat center center / contain;
    transform: rotate(90deg);
    transform-origin: center center;
    animation: kakukaku 2s infinite;
}

.pickup_jonan {
    padding: 6rem 0;
}

.pickup_jonan::before {
    content: '';
    display: block;
    background: var(--beige);
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: .6rem 0 0 .6rem;
}

.pickup_jonan .img-container::before {
    content: '';
    display: block;
    position: absolute;
    height: 25%;
    width: 25%;
    top: -5%;
    right: 5%;
    background: url(images/deco4.svg) no-repeat center center / contain;
    animation: yura 10s linear infinite;
    transform-origin: center center;
}

.pickup_jonan .img-container::after {
    content: '';
    display: block;
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -5%;
    left: 5%;
    background: url(images/deco13.png) no-repeat center center / contain;
}

.pickup_josai .img-container::after {
    content: '';
    display: block;
    position: absolute;
    height: 25%;
    width: 25%;
    bottom: -5%;
    right: 5%;
    background: url(images/deco14.png) no-repeat center center / contain;
    transform-origin: center bottom;
    animation: kakukaku 2s infinite;
}

@media (min-width: 640px) {
    section.pickup {
        padding: 4rem 0 7rem;
    }

    .pickup .s_title {
        margin-bottom: -4rem;
    }
}

/* cv */
section.cv {
    padding-top: 2.7rem;
    padding-bottom: 10rem;
    background: #E5F4FB;
}

.cv .s_title {
    text-align: center;
    font-size: clamp(18px, 4vw, 28px);
}



.cv_img-woman1 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60%;
    width: 45%;
}

.cv_img-woman2 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 47.5%;
    width: 47.5%;
}

.cv_img-woman1 img,
.cv_img-woman2 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
}

@media (min-width: 640px) {
    section.cv {
        padding: 6rem 0;
    }

    .cv_button-container {
        background: #fff;
        max-width: 800px;
        width: 100%;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: clamp(1rem, 3vw, 32px);
        display: grid;
        place-items: center;
    }

    .cv_img-woman1 {
        height: 60%;
        left: -20%;
    }

    .cv_img-woman2 {
        height: 55%;
        right: -20%;
    }
}

@media (min-width: 1024px) {

    .cv_img-woman1 {
        left: calc(65vw - 800px);
        top: auto;
        bottom: 0;
        height: 97.5%;
        width: auto;
    }

    .cv_img-woman2 {
        right: calc(62.5vw - 800px);
        bottom: 0;
        top: auto;
        height: 80%;
        width: auto;
    }
}

/* fixed-cv */

.fixed-cv {
    background: #1938518c;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: .75rem 1.5rem;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.fixed-cv .cv_button {
    max-width: 560px;
    font-size: 1.25rem;
    box-shadow: 2px 4px 4px #00000015;
}

@media (max-width: 639px) {
    .fixed-cv {
        padding: 1.25rem 1rem .5rem;
    }

    .fixed-cv .cv_button {
        padding-top: 1.25rem;
        padding-bottom: 1.2rem;
    }

    .fixed-cv .cv_button-label {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: .25rem 1rem .3rem;
    }
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
    /* クリックやホバーを無効化 */
}

/* footer */
.footer {
    padding: clamp(3rem, 10svh, 6rem) 0 8rem;
    color: #333;
}

.footer .telBox {
    margin-bottom: 30px;
}

@media screen and (max-width: 834px) {
    .footer .telBox {
        margin-bottom: 20px;
    }
}

.footer .info1 {
    border: 1px solid #1CABEB;
    border-radius: 4px;
    padding: 24px 90px 20px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1140px) {
    .footer .info1 {
        padding: 20px;
    }
}

@media screen and (max-width: 834px) {
    .footer .info1 {
        padding: 20px 0 16px;
    }
}

.footer .info1 .ttl {
    width: 28.94%;
}

@media screen and (max-width: 834px) {
    .footer .info1 .ttl {
        width: 100%;
        margin-bottom: 8px;
    }
}

.footer .info1 .ttl .telTtl {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    height: 27px;
    border-radius: 50px;
    background: #1CADE8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    padding-bottom: .2em;
}

@media screen and (max-width: 834px) {
    .footer .info1 .ttl .telTtl {
        font-size: 13px;
        max-width: 224px;
        height: 24px;
        margin: 0 auto 6px;
        letter-spacing: 1px;
    }
}

.footer .info1 .ttl .free {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 990px) {
    .footer .info1 .ttl .free {
        font-size: 12px;
    }
}

@media screen and (max-width: 834px) {
    .footer .info1 .ttl .free {
        font-size: 13px;
        letter-spacing: 0.5px;
    }
}

.footer .info1 .tel {
    width: 47.29%;
    padding-left: 75px;
    position: relative;
}

@media screen and (max-width: 834px) {
    .footer .info1 .tel {
        max-width: 268px;
        text-align: center;
        width: 100%;
        margin: 0 auto 10px;
        padding-left: 43px;
    }
}

.footer .info1 .tel:before {
    content: "";
    display: block;
    width: 67px;
    height: 44px;
    background: url("images/dial-ft.png") no-repeat center/cover;
    position: absolute;
    top: 5px;
    left: 0;
}

@media screen and (max-width: 834px) {
    .footer .info1 .tel:before {
        width: 35px;
        height: 22px;
    }
}

.footer .info1 .tel a {
    font-size: 50px;
    font-weight: bold;
    color: #1E1E1E;
    line-height: 1.1;
}

@media screen and (max-width: 990px) {
    .footer .info1 .tel a {
        font-size: 38px;
    }
}

@media screen and (max-width: 834px) {
    .footer .info1 .tel a {
        font-size: 24px;
        line-height: 1.2;
    }
}

.footer .info1 .txt {
    width: 18.46%;
    font-size: 12px;
    font-weight: 500;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border-radius: 4px;
}

@media screen and (max-width: 834px) {
    .footer .info1 .txt {
        max-width: 270px;
        width: 100%;
        margin: 0 auto;
        height: 40px;
    }
}

.footer .ft-box {
    display: flex;
    margin: 0 -20px;
    padding-bottom: 24px;
    border-bottom: 1px dotted #999999;
}

@media screen and (max-width: 834px) {
    .footer .ft-box {
        flex-wrap: wrap;
        margin: 0;
        padding-bottom: 15px;
    }
}

.footer .ft-box .item {
    width: 33.33%;
    padding: 0 20px;
    border-right: 1px dotted #999999;
}

@media screen and (max-width: 834px) {
    .footer .ft-box .item {
        width: 100%;
        border-bottom: 1px dotted #999999;
        border-right: none;
        padding-bottom: 17px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }

    .footer .ft-box .item:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.footer .ft-box .item:last-of-type {
    border-right: none;
}

.footer .ft-box .item__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14px;
}

@media screen and (max-width: 834px) {
    .footer .ft-box .item__heading {
        margin-bottom: 6px;
    }
}

.footer .ft-box .item__heading .icon {
    width: 60px;
    height: 60px;
}

.footer .ft-box .item__heading .icon img {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.footer .ft-box .item:nth-child(n+2) .item__heading .icon {
    padding: 6px;
    border: 1.5px solid #dddddd;
    border-radius: 5px;
}

@media screen and (max-width: 834px) {
    .footer .ft-box .item__heading .icon {
        width: 50px;
        height: 50px;
    }
}

.footer .ft-box .item__heading .ttl {
    width: calc(100% - 60px);
    padding-left: 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    padding-top: 6px;
}

@media screen and (max-width: 834px) {
    .footer .ft-box .item__heading .ttl {
        font-size: 14px;
        width: calc(100% - 50px);
        padding-left: 14px;
        padding-top: 4px;
    }
}

.footer .ft-box .item__des {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.7;
}

@media screen and (max-width: 834px) {
    .footer .ft-box .item__des {
        font-size: 11px;
    }
}

.footer .copy-right {
    padding-top: 24px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

@media screen and (max-width: 834px) {
    .footer .copy-right {
        font-size: 10px;
    }
}

/* pagetop */
#backToTopBtn {
    position: fixed;
    bottom: clamp(6rem, 14vw, 8rem);
    right: clamp(.5rem, 5vw, 2rem);
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
    /* 初期状態で非表示にする */
    opacity: 0;
    pointer-events: none;
}

#backToTopBtn img {
    width: clamp(48px, 10vw, 80px);
    height: auto;
}

/* animation */
@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.kakukaku {
    transform-origin: center bottom;
    animation: kakukaku 2s infinite;
}

@keyframes kakukaku {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    51% {
        transform: rotate(3deg);
    }

    99% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.yurayura {
    animation: yura 10s linear infinite;
    transform-origin: center top;
}

@keyframes yura {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(20deg);
    }

    66% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

/*** 下からふわっと ***/
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.4s ease, transform 1.2s ease;
}

.fade-up.active {
    opacity: 1;
    transform: translateY(0);
}